    
     <p>
        
        {% if final_standings %}
            {{ message }}:
        {% else %}
        {{ message }} {{ date }}:
        {% endif %}    
    </p>
    <table>
        <thead>
            <th colspan="2">Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>GB</th>
        </thead> 

        <tbody>
        {% for team in standings %}
        <tr>
        {% for item in team %}
        {% if forloop.counter == 2 %}
            <td><img src={{item}}></td>
            {% else %}
            <td>{{ item }}</td>
        {% endif %}
        {% endfor %}   
        </tr>
       {% endfor %}
        </tbody>
        </table>